apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - configmap.yaml
  - statefulset.yaml
  - service.yaml
  - basic-auth-secret.yaml
  - certificate.yaml
  - ingress.yaml
  - dnsendpoint.yaml
